* {
    margin: 40;
    padding: 40;
    box-sizing: border-box;
}
body {
    background-color: rgb(231, 241, 221);
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}
h1 {
    font-size: 6rem
}
h1,h2 {
    margin-bottom: 3rem;
}
.game-container {
    width: 25rem;
    height: 25rem;
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    grid-template-rows: repeat(3 ,1fr);
    border: 1px solid black;
}
.obstacle {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    background: #fafafa8f;
    user-select: none;
}
.obstacle:hover {
    border: 1px solid rgba(179, 115, 115, 0.719);
}
#error {
    font-size: 1.2rem;
    margin-top: 2rem;
    letter-spacing: 4px;
    color: rgb(0, 4, 255);
}